div{
    background-color: aqua;
    border: 1px solid black;
    box-sizing: border-box;
    height: 200px;
    float: left;
}
.column{
    width: 25%;
}
@media (max-width: 767px) {
    .column {
      width: 50%;
    }
  }
  
  
  @media (max-width: 480px) {
    .column {
      width:100%;

    }
   
  } 